<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- ETIQUETAS META PARA MEJORAR SEO DE LA WEB -->
   <meta name="description" content="Pagina web para la promocion de un gimnasio">
   <meta name="keywords" content="gimnasio,actividad fisica,personal trainer">
   <meta name="author" content="Juan Ignacio Navarro">
  <link rel="stylesheet" href="../styles/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <title>Actividades</title>
</head>

<body>
  <div class="head">
    <!-- LOGO DE LA PAGINA -->
    <div class="logo">
      <a href="#">LOGO</a>
    </div>
    <!-- NAVBAR DE LA PAGINA -->
    <nav class="navbar">
      <a href="../index.html">Home</a>
      <a href="../components/activities.html">Actividades</a>
      <a href="../components/faqs.html">FAQS</a>
      <a href="../components/staff.html">Staff</a>
    </nav>
  </div>
  <!-- CONTENIDO DE LA PAGINA -->
  <section class="content act">
    <h2 class="title">Actividades</h2>
    <p>En nuestro gimnasio, ofrecemos una amplia variedad de actividades diseñadas para satisfacer las necesidades y
      objetivos individuales de nuestros miembros.</p>
    <div class="box-container">
      <div class="box">
        <i class="fab fa-car"></i>
        <h3>PESAS</h3>
        <p> nuestros entrenadores expertos te guiarán en el uso adecuado de las máquinas y pesas libres para fortalecer y tonificar tu cuerpo</p>
      </div>
      <div class="box">
        <i class="fab fa-car"></i>
        <h3>HIT</h3>
        <p>Si buscas un desafío adicional, tenemos actividades más intensas como el entrenamiento de circuito</p>
      </div>
      <div class="box">
        <i class="fab fa-car"></i>
        <h3>ATLETISMO</h3>
        <p>Contamos con una pista de atletismo y áreas designadas para entrenamiento funcional al aire libre.</p>
      </div>
    </div>
  </section>
</body>

</html>