<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- ETIQUETAS META PARA MEJORAR SEO DE LA WEB -->
  <meta name="description" content="Pagina web para la promocion de un gimnasio">
  <meta name="keywords" content="gimnasio,actividad fisica,personal trainer">
  <meta name="author" content="Juan Ignacio Navarro">
  <link rel="stylesheet" href="../styles/index.css" />
  <title>FAQS</title>
</head>

<body>
  <div class="head">
    <!-- LOGO DE LA PAGINA-->
    <div class="logo">
      <a href="#">LOGO</a>
    </div>
    <!-- NAVBAR DE LA PAGINA -->
    <nav class="navbar">
      <a href="../index.html">Home</a>
      <a href="../components/activities.html">Actividades</a>
      <a href="../components/faqs.html">FAQS</a>
      <a href="../components/staff.html">staff</a>
    </nav>
  </div>
  <!-- CONTENIDO DE LA PAGINA-->
  <section class="content faqs">
    <h2 class="title">
      Preguntas frecuentes
    </h2>
    <h2>¿Cuáles son los beneficios de unirse a nuestro gimnasio?</h2>
    <p>Al unirte a nuestro gimnasio, tendrás acceso a una amplia gama de equipos de alta calidad, entrenadores expertos
      y una variedad de clases grupales</p>
    <br />
    <h2>¿Cómo puedo obtener información sobre las membresías y los precios?</h2>
    <p>Puedes obtener información detallada sobre nuestras opciones de membresía y sus respectivos precios visitando
      nuestra página web </p>
  </section>
</body>

</html>