<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- ETIQUETAS META PARA MEJORAR SEO DE LA WEB -->
  <meta name="description" content="Pagina web para la promocion de un gimnasio">
  <meta name="keywords" content="gimnasio,actividad fisica,personal trainer">
  <meta name="author" content="Juan Ignacio Navarro">
  <link rel="stylesheet" href="../styles/index.css" />
  <title>Staff</title>
</head>

<body>
  <div class="head">
    <div class="logo">
      <a href="#">LOGO</a>
    </div>
    <!-- navbar DE LA PAGINA -->
    <nav class="navbar">
      <a href="../index.html">Home</a>
      <a href="../components/activities.html">Actividades</a>
      <a href="../components/faqs.html">FAQS</a>
      <a href="../components/staff.html">staff</a>
    </nav>
  </div>
  <!-- CONTENIDO DE LA PAGINA -->
  <section class="content work">
    <h2 class="title">
      Nuestros profes
    </h2>
    <div class="box-container">
      <div class="box">
        <i class="fab fa-car"></i>
        <h3>Leo Messi</h3>
        <br />
        <p> Un entrenador dedicado y motivador, especializado en entrenamiento de alta intensidad y acondicionamiento
          físico. Con su enfoque disciplinado y programas personalizados, te guiará para superar tus límites y lograr
          resultados extraordinarios.</p>
      </div>
      <div class="box">
        <i class="fab fa-car"></i>
        <h3>Dibu Martinez</h3>
        <br />
        <p> Un instructor de gimnasio con una amplia experiencia en entrenamiento de fuerza y acondicionamiento físico.
        </p>
      </div>
      <div class="box">
        <i class="fab fa-car"></i>
        <h3>La araña</h3>
        <br />
        <p>Experto en artes marciales y defensa personal, Julian es un instructor apasionado que te guiará en el camino
          de la autodisciplina y el autocontrol.</p>
      </div>
    </div>
  </section>
</body>

</html>